How much money do you want to calculate <%=fname%>

<form method = post action = "coins">
<input type = "number" name = "money" required>
<input type = "hidden" name = "fname" value = "<%=fname%>">
<input type = "hidden" name = "lname" value = "<%=fname%>">
</form>