<head>
<link rel = "stylesheet" href = "css/style.css">
<header class = "color center font" > Coin Counter </header>

<ul>
	<li><a href='/'> Restart</a></li> 
	<li><a href='/'> might work </a></li>
	<li><a href='/names'> skip login </a></li>
</ul>

</head>

<body>
	<%=yield%>
</body>

<footer>
<a href='http://www.minedminds.org/'>mined minds site</a>
</footer>
