<head>
<link rel = "stylesheet" href = "css/style.css">
<header> Coin Counter </header>

<ul>
	<li><a href='/'> Login</a></li> 
	<li><a href='/coin'> Calculaor </a></li>
	<li><a href='/names'> Enter Name </a></li>
</ul>

</head>

<body>
	<%=yield%>
</body>

<footer>
<a href='http://www.minedminds.org/'>mined minds site</a>
</footer>
