Please enter your username and password<br>
<%=message%>
<form method = "post" action = "login">
Username: <input type = 'text' name = "username">
Password: <input type = 'password' name = 'password'>
<input type = "submit" value = "enter">
</form>

<script>
alert("hello world");
</script>